
* {
    box-sizing: border-box;
  }
  
  #divPrice{
    margin:2rem;
  }
  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  img{
      width: 300px;
      height: 300px;
  } 


  .center { /* for centering the button element*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin:8px;
    
    }
    .center_p { /* for centering the p elements:  food name and price inside img*/
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;   
    }

    .center_ { /* for centering the p element : the answer of the random question  */
      text-align: center;
     }
    
   
   

 
  @media only screen and (max-width: 799px) and (min-width: 400px)  {
    .column {
        width: 33.33%;
      }
     
  }
 
  @media only screen and (min-width:800px)  {
    .column {
        width: 25%;
      }
  }
  @media only screen and (max-width:399px){
    .column{
      width:100%;
      
    }
  }

  
 
  

 